body {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-weight: 300;
}

.wrapper {
    display: grid;
    width: fit-content;
    box-sizing: border-box;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    gap: 5px;

    grid-auto-flow: row;

    font-weight: bold;

    background-color: lightgray;
    padding: 10px;
    padding-top: 20px;

    border-radius: 10px;
}

.wrapper > div {
    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;
    gap: 2px;
}

#pastEq {
    font-weight: normal;
    height: 1lh;
}

span {
    text-align: right;
}

#eq {
    font-size: large;
    text-align: right;

    padding-block: 4px;
}

input[type=button]:nth-child(4n+1), input[type=button]:nth-last-child(1) {
    background-color: coral;
}

input[type=button]:nth-last-child(2) {
    background-color: lightgreen;
}

input[value="="] {
    grid-column: 2 / 4;
}

input[type=button] {
    padding: 20px;
    background-color: gray;

    text-align: center;
    border-radius: 2px;
}